/******************************TAG SELECTORS************************/

body {
    background-color: #f7f6dc;
}

h1,h3 {
  color: #7fb77e;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: #ffc09093;
  width: 5%;
}

img {
  border-radius: 50%;
  height: 150px;
}


/******************************CLASS SELECTORS************************/

.python {
    color: red;
}

